<div class="quiz quiz--group2">
  <table class="quiz--table">
    <tr>
    <td class="question"><b>Б2.6. </b>Затраты на оплату труда и начисления на выплаты по 
        оплате труда работников организации, которые не принимают непосредственного участия 
        в оказании государственной услуги (административно- управленческого и 
        вспомогательного персонала), включая страховые взносы в Пенсионный фонд Российской Федерации, 
        Фонд социального страхования Российской Федерации и Фонд обязательного медицинского 
        страхования Российской Федерации, а также на обязательное социальное страхование 
        от несчастных случаев на производстве и профессиональных заболеваний</td>
    <td class="data">
      <table>
        <tr tr-data-module name="средняя заработная плата по региону" value="meanwage"></tr>
        <tr tr-data-value name="коэффициент корректировка з/п АУП по отношению к з/п ППС, п. 10(2) 
            постановления Правительства Российской Федерации от 05.08.2008 
            <span class='nowrap'>№ 583</span>
            «О введении новых систем оплаты труда работников федеральных бюджетных, 
            автономных и казенных учреждений»" value="0,67"></tr>
        <tr tr-data-value name="доля работников АУП в общей численности работников, 
            установленная в Дорожной карте, утвержденной распоряжением Правительства 
            Российской Федерации от 30 апреля 2014 года <span class='nowrap'>№ 722-р</span>" value="39"></tr>
        <tr tr-data-value name="месяцев" value="12"></tr>
        <tr tr-data-value name="страховые взносы в ПФР, ФСС, ФОМС" value="0,302"></tr>
        <tr tr-data-value name="коэффициент индексации (минус 12%) в связи с изменением 
            Росстатом порядка определения средней заработной платы по региону" value="0,88"></tr>
        <tr tr-data-value name="число учащихся в расчете на 1 педагогического работника на 2016 г. по «Дорожной карте», 
            утвержденной распоряжением Правительства Российской Федерации от 30.04.2014 
            <span class='nowrap'>№ 722-р</span>" value="12,3"></tr>
        <tr tr-data-value name="Норма времени в год, п. 7.1.3 Приказ 
            Минобрнауки России от 22.12.2014 <span class='nowrap'>№ 1601</span>" value="864"></tr>

      </table>
    </td> 
    <td class="comment">
        <table>
            <tr><td colspan="2" style="text-align:center"> 
                $$ \bi\text"( {{meanwage | number}} )" × 12 × (1 + 0,302) × 0,67 × 39/{100 - 39} × 1/{12,3 × 864} =$$ </td></tr>
            <tr><td style="vertical-align: middle;text-align:center;"> 
                    $$ \bi\text"( {{meanwage | number}} )" × 12 × (1 + 0,302) × 0,88 \text"&nbsp;&nbsp;–"$$ </td>
                <td style="vertical-align: middle;text-align:left; padding-left:0px"> з/п ПР (смотри п.1) </td></tr>
            </td></tr>
        </table>
    </td>
    <td class="result">
      <input id="quiz--result" class="control control--disabled" ui-number-mask ng-model="quiz26result" disabled>
    </td>
    </tr>
  </table>
</div>