<div class="quiz quiz--group1">
  <table class="quiz--table">
   <tr>
     <td class="question"><b>Б1.2. </b>Затраты на приобретение
        материальных запасов и особо ценного движимого имущества,
        потребляемых (используемых) в процессе оказания государственной
        услуги</td>
     <td class="data">
      <table>
        <tr tr-data-value name="стоимость комплекта средств обучения кабинета освоения учебной дисциплины, 
            рублей (Письмо Минобрнауки РФ от 24.11.2011 <span class='nowrap'>№ МД-1552/03</span>), 
            на однородные товары (ЕМИСС, по РФ)" value="130 956"></tr>
        <tr tr-data-value name="стоимость комплекта средств обучения для спортивного зала, 
            (Письмо Минобрнауки России от 16.05.2012 <span class='nowrap'>№ МД-520/19</span>), 
            экспертная оценка" value="84 832,00"></tr>
        <tr tr-data-value name="среднее количество учащихся в одной группе" value="12"></tr>
        <tr tr-data-value name="Норма времени в год, п. 7.1.3 Приказ 
            Минобрнауки России от 22.12.2014 <span class='nowrap'>№ 1601</span>" value="864"></tr>
        <tr tr-data-value name="срок полезного использования" value="7"></tr>
      </table>
    </td> 
    <td class="comment">
        <table>
            <tr><td colspan="2" style="text-align:center">
                $$ \text"93 971 + 84 832"/\text"12 × 800 × 7" = $$ </td></tr>
        </table>
    
    </td>
    <td class="result">
      <input id="quiz--result" class="control control--disabled" ui-number-mask ng-model="quiz12result" disabled>
    </td>
    </tr>
  </table>
</div>