<div class="quiz quiz--group2">
  <table class="quiz--table">
    <tr>
    <td class="question"><b>Б2.2. </b>Затраты на содержание объектов недвижимого имущества 
        (в том числе затраты на арендные платежи)</td>
    <td class="data">
      <table>
        <tr tr-data-value name="численность учащихся, данные Росстата 2014 года" value="625"></tr>
        <tr tr-data-value name="общий фонд учебного времени в год" value="1 728"></tr>
        
        <tr tr-data-value name="ежегодная плановая сумма на текущий ремонт, рублей, экспертная оценка" value="110 371"></tr>
        <tr tr-data-value name="МРОТ, Федеральный закон от 01.12.2014 
            <span class='nowrap'>№ 408-ФЗ</span>
            «О внесении изменения в статью 1 Федерального закона «О минимальном размере оплаты труда»" value="5 965"></tr>
        <tr tr-data-value name="нормативная площадь прилегающей территории (кв.м). СП 118.13330.2012" value="6 328"></tr>
        <tr tr-data-value name="норма обслуживания территории дворником 
            при механизированной уборке (кв.м), СанПин 50% 3,7 га (от земельного участка), 
            нормативная площадь прилегающей территории (кв.м). СП 118.13330.2012" value="5 250"></tr>
        <tr tr-data-value name="оплата услуг по охране здания, руб. в год" value="60 000"></tr>
        
        <tr tr-data-value name="расчетная площадь помещений (кв.м). согласно СП 118.13330.2012 
            и СанПиН 2.4.2.2821-10" value="5 110"></tr>
        <tr tr-data-value name="Норма убираемой площади (кв.м), Постановление Секретариата ВЦСПС 
            от 21.04.1978 <span class='nowrap'>№ 13-14</span>, пункт 9.б" value="500"></tr>
        <tr tr-data-value name="cтоимость обслуживания и уборки помещений, 
            рублей за кв.м. в месяц (ЕМИСС, по Республика Дагестан)" value="1,8"></tr>

        <tr tr-data-value name="стоимость вывоза мусора, в месяц, с человека, руб., 
            данные ЕМИСС, Республика Дагестан" value="10,8"></tr>
        <tr tr-data-value name="стоимость дезинфекии, дератизации 1 кв. м., 1 раз в год" value="179 480,74"></tr>
      </table>
    </td> 
    <td class="comment">
        <table>
         
            <tr><td colspan="2" style="text-align:center;padding-top: 10px;">
                $$ 0,10 + 0,09 + 0,06 + 0,08 + 0,08 + 0,18 = $$ </td></tr>
                
            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>текущий ремонт зданий и сооружений</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,10 = \text"11 0371"/\text"625 × 1 728" $$ </td></tr>

            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>содержание прилегающей территории</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 0px;">
                $$ 0,09 = \text"93 197 × 0,0000011" $$ </td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,0000011= 1/\text"6 328 × 5 250 × 625 × 1 728" $$ </td></tr>
                
            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>охрана здания</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,06 = \text"60 000"/\text"625 × 1 728" $$ </td></tr>
                
            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>обслуживание и уборка помещений здания и сооружения</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 0px;">
                $$ 0,08 = \text"79 835 × 0,000000926" $$ </td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 0px;">
                $$ \text"98 869" = \text"5 110"/{500 × 1,8 × 12} $$ </td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,000000926 = 1/\text"625 × 1728" $$ </td></tr>
                
             <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>вывоз твердых бытовых отходов</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 0px;">
                $$ 0,08 = \text"84 634"/\text"625 × 1728" $$ </td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 0px;">
                $$ \text"84 634" = 10,8 × (625 + 625/\text"1403" + 826/{14,6} × 0,39) × 12 $$ </td></tr>
            <tr><td style="vertical-align: middle;text-align:right;padding-bottom: 10px;"> 
                    $$ (625 + 625/\text"1 403" + 826/{14,6} × 0,39) \text"&nbsp;&nbsp;–"$$ </td>
                <td style="vertical-align: middle;text-align:left; padding-left:0px">численность обучающихся, ППС и УАП</td></tr>

            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>дезинфекция, дератизация, акарицидная обработка помещений</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,18=\text"179 480,74"/\text"625 × 1 728" $$ </td></tr>
        </table>
    </td>
    <td style="padding-top:0px" class="result">
      <input id="quiz--result" class="control control--disabled" ui-number-mask ng-model="quiz22result" disabled>
    </td>
    </tr>
  </table>
</div>