<div class="quiz quiz--group1">
  <table class="quiz--table">
    <tr>
    <td class="question"><b>Б1.3. </b>Затраты на приобретение учебной литературы, 
        периодических изданий, издательских и полиграфических услуг, 
        электронных изданий, непосредственно связанных с оказанием государственной услуги</td>
    <td class="data">
      <table>
        <tr tr-data-value name="учебное пособие (средняя цена по 3 коммерч. предложениям)" value="45"></tr>
        <tr tr-data-value name="электронное пособие (средняя цена по 3 коммерч. предложениям)" value="108,89"></tr>
        <tr tr-data-value name="периодическое издание ( средняя цена по 3 коммерч. предложениям)" value="80,79"></tr>
        <tr tr-data-value name="средняя стоимость периодического издания, руб. (ЕМИСС, Республика Дагестан)" value="75"></tr>
        <tr tr-data-value name="Норма времени в год, п. 7.1.3 Приказ Минобрнауки России от 22.12.2014 
            <span class='nowrap'>№ 1601</span>" value="800"></tr>
      </table>
    </td> 
    <td class="comment">
        <table>
            <tr><td colspan="2" style="text-align:center"> $$\text"45 + 108,89 + 80,79"/\text"864 × 12" =$$ </td></tr>
        </table>
    </td>
    <td class="result">
      <input id="quiz--result" class="control control--disabled" ui-number-mask ng-model="quiz13result" disabled>
    </td>
    </tr>
  </table>
</div>