<div class="quiz quiz--group2">
  <table class="quiz--table">
    <tr>
    <td class="question"><b>Б2.3. </b>Затраты на содержание объектов особо ценного движимого имущества</td>
    <td class="data">
      <table>
        <tr tr-data-value name="численность учащихся, данные Росстата 2014 года" value="625"></tr>
        <tr tr-data-value name="общий фонд учебного времени в год" value="1 728"></tr>
        
        <tr tr-data-value name="срок полезного использования, постановление Правительства РФ от 01.01.2002 
            <span class='nowrap'>№ 1</span>, 5-ая амортизационная группа" value="10"></tr>
        <tr tr-data-value name="стоимость работ по техническому обслуживанию и регламентно-профилактическому 
            ремонту систем кондиционирования и вентиляции (раз в 10 лет), рублей, 
            (ЕМИСС, по Респ. Дагестан);" value="231 591"></tr>
        <tr tr-data-value name="техническое обслуживание и регламентно-профилактический ремонт 
            систем пожарной сигнализации (ЕМИСС, по Респ. Дагестан);" value="115 795"></tr>
        <tr tr-data-value name="стоимость технического обслуживания и регламентно-профилактического 
            ремонта систем охранно-тревожной сигнализации(ЕМИСС, по Респ. Дагестан);" value="115 795"></tr>
        <tr tr-data-value name="стоимость технического обслуживания и регламентно-профилактического 
            ремонта систем видеонаблюдения (ЕМИСС, по Респ. Дагестан);" value="176 704"></tr>
        <tr tr-data-value name="техническое обслуживание регламентно-профилактический ремонт системы 
            канализации, наружного водопровода, в месяц" value="3 000"></tr>
        <tr tr-data-value name="месяцев" value="12"></tr>
        <tr tr-data-value name="обслуживание приборов учета (воды, т/энергии, э/энергии) в месяц;" value="316"></tr>
        <tr tr-data-value name="стоимость обслуживания медицинского оборудования, оборудования 
            столовой в год (расчетное)" value="22 465"></tr>
        <tr tr-data-value name="стоимость обслуживания (ремонт) оргтехники в год (расчетная)" value="3 558"></tr>
      </table>
    </td> 
    <td class="comment">
        <table>
            <tr><td colspan="2" style="text-align:center;padding-top: 10px;">
                $$ 0,02 + 0,01 + 0,01 + 0,02 + 0,01 + 0,004 + 0,01 + 0,001 = $$ </td></tr>
                
            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>техническое обслуживание и регламентно-профилактический ремонт 
                    систем кондиционирования и вентиляции</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,02 = \text"231 591"/\text"625 × 1 728 × 10" $$ </td></tr>
                
            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>техническое обслуживание и регламентно-профилактический 
                    ремонт систем пожарной сигнализации</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,01 = \text"115 795"/\text"625 × 1728 × 10" $$ </td></tr>
                
            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>техническое обслуживание и регламентно-профилактический 
                    ремонт систем пожарной сигнализации</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,01 = \text"115 795"/\text"625 × 1728 × 10" $$ </td></tr>

            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>техническое обслуживание и регламентно-профилактический ремонт 
                    систем охранно-тревожной сигнализации</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,01 = \text"115 795"/\text"625 × 1 728 × 10" $$ </td></tr>

            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>техническое обслуживание и регламентно-профилактический 
                    ремонт систем видеонаблюдения</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,02 = \text"176 704"/\text"625 × 1 728 × 10" $$ </td></tr>

            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>техническое обслуживание регламентно-профилактический 
                    ремонт системы канализации, наружного водопровода</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,01 = \text"3 000 × 12"/\text"625 × 1 728 × 10" $$ </td></tr>

            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>техническое обслуживание приборов учета (воды, т/энергии, э/энергии)</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,004 = \text"316 × 12"/\text"625 × 1 728 × 7" $$ </td></tr>

            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>техническое обслуживание медицинского оборудования, оборудования столовой</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,01 = \text"22 465"/\text"625 × 1 728 × 3" $$ </td></tr>

            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>техническое обслуживание (ремонт) оргтехники</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,001 = \text"3 558"/\text"625 × 1 728 × 3" $$ </td></tr>
        </table>
    </td>
    <td style="padding-top:60px" class="result">
      <input id="quiz--result" class="control control--disabled" ui-number-mask ng-model="quiz23result" disabled>
    </td>
    </tr>
  </table>
</div>