<div class="quiz quiz--group2">
  <table class="quiz--table">
    <tr>
    <td class="question"><b>Б2.4. </b>Затраты на приобретение услуг связи</td>
    <td class="data">
      <table>
        <tr tr-data-value name="численность учащихся, данные Росстата 2014 года" value="625"></tr>
        <tr tr-data-value name="общий фонд учебного времени в год" value="1 728"></tr>
        
        <tr tr-data-value name="тариф на местную телефонную связь (рублей в мес.), 
            (ЕМИСС, Республика Дагестан)" value="187,8"></tr>
        <tr tr-data-value name="стоимость междугородной телефонной связи рублей в год 
            (5 мин каждый рабочий день), (ЕМИСС, по РФ)" value="6 043,27"></tr>
        <tr tr-data-value name="каналы связи" value="2"></tr>
        <tr tr-data-value name="тариф на доступ к сети Интернет (рублей в мес.), тарифы 
            (ЕМИСС, Республика Дагестан)" value="568"></tr>
        <tr tr-data-value name="количество каналов доступа, экспертно" value="2"></tr>
        <tr tr-data-value name="поддержка сайта, руб. в месяц" value="5 000"></tr>
        <tr tr-data-value name="обслуживание системы электронного документооборота" value="3 000"></tr>
        <tr tr-data-value name="административные программы (1С, MS, Консультант) и подписка 
            на электронные ресурсы в год" value="11 000"></tr>
      </table>
    </td> 
    <td class="comment">
        <table>
            <tr><td colspan="2" style="text-align:center;padding-top: 10px;">
                $$ 0,02 + 0,01 + 0,11 + 0,01 + 0,02 = $$ </td></tr>
                
            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>услуги телефонной связи</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,02 = \text"(187,8 × 12 + 6 043,27) × 2"/\text"625 × 1 728" $$ </td></tr>

            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>услуги связи по передаче данных</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,01 = {568 × 12 × 2}/\text"625 × 1 728" $$ </td></tr>

            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>поддержка сайта</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,11 = \text"5 000 × 12 × 2"/\text"625 × 1 728" $$ </td></tr>

            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>обслуживание системы электронного документооборота</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,01 = \text"3 000 × 2"/\text"625 × 1 728" $$ </td></tr>

            <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 0px;">
                <b>оплата пользования административными программами (1С, Консультант) и подписка на электронные ресурсы</b></td></tr>
            <tr><td colspan="2" style="padding-top: 5px;padding-bottom: 10px;">
                $$ 0,02 = \text"11 000 × 2"/\text"625 × 1 728" $$ </td></tr>
        </table>
    </td>
    <td style="padding-top:0px" class="result">
      <input id="quiz--result" class="control control--disabled" ui-number-mask ng-model="quiz24result" disabled>
    </td>
    </tr>
  </table>
</div>